@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', sans-serif;
  cursor: url("data:image/svg;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><g transform='scale(-1,1) translate(-24,0)'><path d='M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z'/><path d='m15 5 4 4'/></g></svg>") 0 24, auto;
}

@layer base {
  ::selection {
    background: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
  }
  
  :root {
    --background: 210 40% 98%;
    --foreground: 224 71.4% 4.1%;
    --card: 210 40% 98%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 210 40% 98%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 336 100% 65%; /* #FF4DA6 */
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 212 35% 92%; /* bg-muted for hero section */
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 255 60% 90%; /* #E5D9FF */
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 1.5rem;
    --footer-background: 224 71.4% 4.1%;
    --footer-foreground: 210 20% 85%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 336 100% 65%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --footer-background: 224 71.4% 4.1%;
    --footer-foreground: 210 20% 85%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
     background-image:
      linear-gradient(to right, hsl(var(--border)) 1px, transparent 1px),
      linear-gradient(to bottom, hsl(var(--border)) 1px, transparent 1px);
    background-size: 40px 40px;
    background-attachment: fixed;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    background: hsl(var(--background));
  }
  ::-webkit-scrollbar-thumb {
    background-color: hsl(var(--muted));
    border-radius: 20px;
    border: 3px solid hsl(var(--background));
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--accent));
  }
}
